* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$background-header: rgb(130, 130, 236);

.header {
    background-color: rgb(130, 130, 236);

    .header-title {
        color: #FFF;
    }
}

.main-container {
    .notepad-container {
        .notepad-card {
            height: 70vh;
    
            .card-body {
                .notepad {
                    height: 100%;
                    resize: none;
                    border: none;
                }
            }
        }
        .control-panel {
            .dir-container {
                height: 40vh;
                .dir-content {
                    overflow-y: scroll;
                    
                    .lista-archivos {
                        text-decoration: none;
            
                        .valor-invisible {
                            background-color: gray;
                            display: none;
                        }
                    }
                }
            }
            .disabled-input {
                background-color: rgb(209, 209, 209);
            }
    
        }
    }
}