* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(130, 130, 236);

    .header-title {
        color: #FFF;
    }
}

.main-container {
    padding: 15px;

    .notepad-card {
        height: 70vh;

        .card-body {
            .notepad {
                height: 100%;
                resize: none;
                border: none;
            }
        }
        .modal-container {
            .dir-container {
                height: 40vh;
                .dir-content {
                    height: 100%;
                    overflow-y: scroll;
                }
            }
        }
    } 

}